<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441467913319-21ucjl65flnb9dkntvlpooa5k3aju7pv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441467913319-21ucjl65flnb9dkntvlpooa5k3aju7pv</string>
	<key>API_KEY</key>
	<string>AIzaSyDDLtFJAE5vqdeLJQYcpbo2WEMsu8oEOaM</string>
	<key>GCM_SENDER_ID</key>
	<string>441467913319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adamhacker.redwood-helper</string>
	<key>PROJECT_ID</key>
	<string>fbla-app-dev-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>fbla-app-dev-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441467913319:ios:536a65618a654de6ce40c2</string>
</dict>
</plist>